@import '../../../styles/colors.scss';

// .members {
//     width: 80%;
//     max-width: 80%;
//     margin-left: auto;
//     margin-right: auto;
//     font-family: $font-roboto;
//     color: $blue-dark;
//     margin-bottom: 10vh;
//     padding: 5vw 10%;
//     display: flex;
//     flex-direction: column;
//     gap: 18px;
// }


.members {
  // background-color: red;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: $font-roboto;
  margin-top: 6vw;

}

.title {
  color: $blue-dark;
  text-align: left;
  font-family: $font-roboto-slab;
  width: 80%;
  font-size: 44px;
}

.list {
  width: 80%;
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  color: $blue-dark;
}
